<h2>All Products</h2>

<%= form_tag products_path, method: "post" do %>
  <%= text_field_tag :product %>
  <%= submit_tag "add to cart" %>
<% end %>


<ol>
  <% session[:cart].each do |product| %>
  <li>
    <%= product %>
  </li>
  <% end %>
</ol>
